// normalize-css подключается с помощью postcss-normalize
@import "include/variables";
@import "include/utils";
@import (inline) "../css/onsen.css";
@import "include/onsen";
@import "include/suggest";
@import "include/general";
@import "include/forms";
@import "include/modal";
@import "include/layout";



// common
.main-wrap {display: flex; flex-direction: column; min-height: 100vh;}
.main-content {width: 100%; flex-grow: 2;}
@media (min-width: @breakpoint-medium-up) {
    .main-content {padding-top: 20px; padding-bottom: 50px; }
}


.header {box-shadow: 0 0 6px rgba(0,0,0,0.2); position: sticky; top: 0; z-index: 10;}
.menu {background: #fff;}
.menu__container {display: flex; justify-content: space-between; list-style-type: none; margin-top: 0; margin-bottom: 0;}
.menu__item {
    &+& {margin-left: 5px;}
}
.menu__link {
    display: block; padding: 12px 8px 14px; position: relative; color: inherit; font-size: 14px; line-height: 20px; font-weight: 700; text-transform: uppercase; text-decoration: none; margin-bottom: -1px;
    &::after {content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 3px; background: currentColor; opacity: 0; transition: 0.15s;}
    &:hover::after, &:focus::after {opacity: 0.4;}
    &.is-active, &.is-active-inner {
        color: @c-main;
        &::after {opacity: 1; background: @c-main;}
    }
}
@media (min-width: @breakpoint-mini-up) {
    .menu__container {justify-content: space-around;}
}
@media (min-width: @breakpoint-medium-up) {
    .menu__container {justify-content: space-between;}
    .menu__item {
        &+& {margin-left: 20px;}
    }
}

//.title {font-size: 14px; text-transform: uppercase; font-weight: 700; margin: 0;}

// toolbar user
.avatar {width: 26px; height: 26px; border-radius: 50%; background: no-repeat 50% 50%; background-size: cover; font-size: 16px; line-height: 20px;}
.avatar--large {width: 50px; height: 50px; box-shadow: 0 2px 18px rgba(0,0,0,0.2); font-size: 28px; line-height: 42px;}
.avatar--letter {background-color: @c-violet; color: #fff; font-weight: 700; text-align: center;}

.user {display: inline-flex; align-items: center;}
.user__name {line-height: 1.4; font-weight: 700;}
.user__avatar {margin-left: 10px;}

.avatar-field {display: flex; align-items: center; justify-content: center;}
.avatar-field__avatar {margin-right: 20px; flex-shrink: 0;}
.avatar-field__button {position: relative;  flex-grow: 2;}
.avatar-field__input {position: absolute; left: 0; top: 0; opacity: 0; pointer-events: none;}
@media (min-width: @breakpoint-small-up) {
    .avatar-field__button {margin: 0; max-width: 280px;}
}

.file-input__drag-layer {
    &::before {content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: 22px 18px; border: 3px dashed; border-radius: 20px; z-index: -1;}
}
.file-input__drag-layer-container {padding-left: 15px; padding-right: 15px;}
@media (min-width: @breakpoint-small-up) {
    .file-input__drag-layer::before {margin: 28px 25px;}
}


@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.error__title {.list-title(); .list-title--bold(); margin-bottom: 10px;}

.is-connection-notice-open {padding-bottom: 46px;}
.connection-notice {position: fixed; background: @c-black; color: #fff; left: 0; bottom: 0; right: 0; font-weight: 500; font-size: 16px; line-height: 22px; text-align: center; padding: 12px 0;}
.connection-notice__icon {margin-right: 4px;}




.splash-layout {background: @c-violet;}
.splash-layout__container {max-width: 377px; margin-left: auto; margin-right: auto; min-height: 100vh; display: flex; align-items: center;}

.default-layout {overflow-y: scroll;}
.default-layout__container {min-height: 100vh; display: flex; flex-direction: column;}
.default-layout__content-wrap {flex-grow: 2; /*overflow-y: auto;*/ /* breaks ios safari modal */ display: flex;}
.default-layout__content {width: 100%; background: @c-bg; overflow: hidden;}
@media (min-width: @breakpoint-medium-up) {
    .default-layout__content-wrap {display: block;}
    .default-layout__content {
        max-width: 375px; margin: @section-margin auto; border-radius: 10px; border: 1px solid @c-border; box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        // this breaks chrome and safari send modal @TODO move modal to portal
        // fix safari overflow not working with <ons-tabbar>
        /*position: relative; z-index: 1;*/
        &:empty {display: none;}
    }
}

// auth
.auth-page {background: @c-main; display: flex; flex-direction: column; width: 100%; height: 360px; max-height: 100vh;}
.auth__logo-container {display: flex; align-items: center; justify-content: center; flex-grow: 2; margin-top: @section-margin; padding: @section-margin 0;}


.v-transition-toast-enter-active, .v-transition-toast-leave-active {
    transition: .25s;
}
.v-transition-toast-enter, .v-transition-toast-leave-to {
    opacity: 0;
    transform: translateY(100%);
}

// index
.balance {background: @c-violet; color: #fff; padding-top: 12px; padding-bottom: 12px;}
.balance--toggle {cursor: pointer; user-select: none;}
.balance--delegated {
    display: block; background: #4225A4; position: relative;
    &:hover, &:focus {
        .balance--delegated__icon {opacity: 0.75;}
    }
}
.balance__caption {font-size: 15px; margin-bottom: 2px;}
.balance__value {font-weight: 700;}
.balance__whole {font-size: 32px; line-height: 1.125;}
.balance__decimal {font-size: 20px;}
.balance__time {margin-top: 4px; line-height: 0;}
.balance__time-icon {vertical-align: middle; margin-right: 6px;}
.balance__time-text {vertical-align: middle; font-size: 12px;}
.balance--delegated__icon {position: absolute; right: 8px; top: 50%; margin-top: -12px; transition: 0.1s;}

.tx-info__name {font-size: 12px; user-select: text;}
.tx-info__value {font-weight: 700; line-height: 1.25; overflow-wrap: break-word; user-select: text;}
.tx-info__button {margin-top: @section-margin;}


// send
.send__modal-value {font-size: 24px; font-weight: 700; line-height: 28px;}
.send__modal-amount {.u-text-overflow(); display: inline-block; max-width: 100%; vertical-align: text-top;}
//.send__modal-p {&+& {margin-top: 10px;}}


// convert
.convert__divider {
    position: relative; overflow: hidden; text-align: center;
    &::before, &::after {content: ''; position: absolute; width: 50%; height: 1px; top: 50%; background: @c-border;}
    &::before {right: 50%; margin-right: 20px;}
    &::after {left: 50%; margin-left: 20px;}
}
.convert__divider-icon  {vertical-align: top;}
.convert__panel {
    background: #F0F0F0; border-radius: 8px; padding: 16px; text-align: center; position: relative;
    &.is-loading {
        & > .convert__panel-content {opacity: 0;}

    }
}
.convert__panel-content {
    text-transform: uppercase; font-size: 12px; font-weight: 500; transition: 0.2s;
    &+& {margin-top: 16px;}
}
.convert__panel-amount {font-size: 22px;}
.convert__panel-value {font-size: 18px;}
.convert__panel-error {}
.convert__panel-note {
    text-align: center;
    .convert__panel + & {margin-top: 16px;}
}

